<h1>Nuevo Usuario</h1>
<%= form_with(model: @user, url: users_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <!-- Agregar más campos del formulario según tus necesidades -->
  <%= form.submit "Crear Usuario" %>
<% end %>
